.container{
    position: absolute;
    top: 10px;
    left: 40%;
}
.input{
    border-radius: 40px;
    width: 400px;
    height: 30px;
}
.button{
    border-radius: 40px;
    width: 100px;
    height: 30px;
}