.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    margin-left: 190px;
    margin-right: 200px;
    gap: 45px;
    margin-bottom: 20px; 
    margin-top: 40px;
}

.titlePage {
    position: absolute;
    left: 45%;
    top:860px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(6, 6, 49);
    color:white;
}

.buttonPrevious{
    position: absolute;
    font-size: 20px;
    left: 764px;
    height: 40px;
    width: 100px;
    /* background-color: transparent; */
    top:880px
}
.buttonNext{
    position: absolute;
    /* background-color: transparent; */
    font-size: 20px;
    left: 940px;
    height: 40px;
    width: 100px;
    top:880px
}
/* .imagePlane{
    position:absolute;  
    width: 500px;
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */

.containerAlert{
    width: 230px;
    height: 300px;
    padding: 3wmm;
    background-color: rgba(212, 228, 255, 0.294);
    margin:5px;
    box-shadow: 0px 5px 25px #000000;
}
.alert{
    margin-top: 100px;
    padding: 3wmm;
    background-color: #000000;
    color:aliceblue
}