.container{
    display: grid;
    place-items: center;
    background-color: rgba(196, 219, 255, 0.629);
    flex-wrap: wrap;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 85px;
    box-shadow: 0px 5px 25px #000000;
    font-size: 17px;
    

}

.image{
    display: grid;
    place-items: center;
    margin-top: 20px;
}
.background{
    background-image: url('../images/form.jpg');
    height: 100vh;
    background-size: cover;
    filter: brightness(90%);
    -webkit-filter: brightness(90%);
    -moz-filter: brightness(90%);
}
/* .container{
    display: grid;
    place-items: center;
    flex-direction: row-reverse;
    background-color: aqua;

} */

